/* .posts-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border-radius: 10px;
} */

#post-container .post {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
}

/* .post-btn{
    display: flex;
    justify-content: space-around;
  } */

.pagination {
  margin: 15px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.pagination > span {
  padding: 15px 20px;
  border: 1px solid grey;
  cursor: pointer;
}

.pagination_selected {
  background-color: rgb(220, 220, 220);
}

.pagination_disabled {
  opacity: 0;
}
